# Binaries
**/bin/
**/bin-int/

!vendor/premake/bin/
!vendor/SFML
!vendor/SDL2
# Log files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
.vscode
.cache
compile_commands.json
